zdrojove_kody/libraries/Menu/**/*.exe
dokumentace/vzor/~$or_dokumentace_IOT.docx
dokumentace/vzor/~WRL1409.tmp
dokumentace/~$kumentace.docx
dokumentace/~WRL1547.tmp
dokumentace/~$kumentace-vlcek.docx
dokumentace/~WRL0005.tmp
